@@ -2070,4 +2070,13 @@
 	  This driver can also be built as a module, if so, the module
 	  will be called "rtc-ssd20xd".
 
+config RTC_DRV_RX8900
+	tristate "Third Party RX8900 Driver"
+	help
+	  If you say yes here you get support for RTC function in SKY1
+	  EVB.
+
+	  This driver can also be built as a module. If so, the module
+	  will be called rtc-rx8900.
+
 endif # RTC_CLASS
